.card{
    background-color: white;
    border: solid 1.1px #948eef54;
    border-radius: 11px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-flow: wrap column;
    

}
.back-b{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
}

.container{
    display: flex;
    flex-flow: wrap row;
    gap: 20px;
    justify-content: center;
    background-color: white;
    padding: 80px;
    border-radius: 8px;

}

.c-feture{
    padding-bottom: 15px;
    padding-top: 15px;
    height: 230px;
}

button{
    background-color: #4e44e5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 14px;
    border-radius: 13px;
    color: white;
    width: 118px;
    font-size: 14px;
    border: solid 1px #4e44e5;
    font-family: Arial, Helvetica, sans-serif;
}

.back-card{
    display: flex;
    background-color:#f3f5f7 ;
    padding: 50px;
    justify-content: center;
    border-radius: 10px;
}

:host input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: #f3f5f7 solid .05px;
    background-color: #f3f5f7;
    position: relative;
    cursor: pointer;
    appearance: none;
    border-radius: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #4f44e581;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-left: 10px;
}

  

  label{
    display: flex;
  align-items: center;
  margin-top: 10px;
  }

   
  :host input[type="checkbox"]::before {
    content: '✔';
    position: absolute;
    
  }
  

  :host input[type="checkbox"]:checked {
    background-color: #4e44e5; 
    border-color: #4e44e5; 
    color: white; 
  }
  

  :host input[type="checkbox"]:checked::before {
    opacity: 1; 
  }

  .total{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
  }