<div class="back-b">
  <div class="back-card">
    <div class="container">
      <div *ngFor="let card of cards" class="card">
        <h3>{{ card.title }}</h3>
        <div class="c-feture">
            <div *ngFor="let feature of card.features"  >
              <label>
                <input 
                  type="checkbox"
                  [(ngModel)]="feature.selected"
                  (change)="calculateOverallTotal()" 
                />
                {{ feature.name }} - {{ feature.price }} 
              </label>
            </div> 

        </div>
        <div >
          جمع {{ card.title }}: {{ calculateCardTotal(card) }}
        </div> 
      </div>
    </div> 
  </div>

  <div>
    <div class="total">
      <p *ngFor="let card of cards; let i = index">
        جمع  {{ card.title }}: {{ calculateCardTotal(card) }} تومان
      </p>
      <p>جمع کل: {{ calculateOverallTotal() }} تومان</p>
      <button (click)="resetSelections()">محاسبه مجدد</button>
    </div>
  </div>
</div>  


  